{
  "openapi": "3.1.0",
  "info": {
    "title": "hibari API",
    "version": "v1",
    "description": "hibari の REST API。docs/api/openapi.json は internal/httpx/openapi_test.go が生成する（ADR 0064）。エラーは RFC 9457 の application/problem+json で返す。WebSocket のイベントは docs/events.md を見る。"
  },
  "servers": [
    {
      "url": "https://api.hibari-chat.com"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "登録・ログイン・トークンの更新・email の確認・パスワードの再設定（ADR 0010）"
    },
    {
      "name": "users",
      "description": "自分のプロフィールとアバター"
    },
    {
      "name": "sessions",
      "description": "ログイン中のデバイス（ADR 0019）"
    },
    {
      "name": "workspaces",
      "description": "ワークスペース（ADR 0011）"
    },
    {
      "name": "members",
      "description": "ワークスペースのメンバー・ロール・owner の譲渡（ADR 0006 / 0011）"
    },
    {
      "name": "presence",
      "description": "手動の離席とカスタムステータス（ADR 0049）"
    },
    {
      "name": "notifications",
      "description": "通知の設定（ADR 0055 / 0056）"
    },
    {
      "name": "invites",
      "description": "招待リンク（ADR 0011）"
    },
    {
      "name": "rooms",
      "description": "ルームとルームのメンバー（ADR 0011 / 0059）"
    },
    {
      "name": "messages",
      "description": "メッセージの送信・一覧・編集・削除（ADR 0012）"
    },
    {
      "name": "reactions",
      "description": "絵文字のリアクション（ADR 0044）"
    },
    {
      "name": "pins",
      "description": "ピン留め（ADR 0054）"
    },
    {
      "name": "saved",
      "description": "「後で」（ADR 0054）"
    },
    {
      "name": "threads",
      "description": "スレッド（ADR 0036）"
    },
    {
      "name": "read",
      "description": "既読の位置（ADR 0025）"
    },
    {
      "name": "search",
      "description": "メッセージの検索（ADR 0061）"
    },
    {
      "name": "activity",
      "description": "アクティビティ（ADR 0058）"
    },
    {
      "name": "attachments",
      "description": "添付ファイル（ADR 0013）"
    },
    {
      "name": "link-previews",
      "description": "外部のリンクのプレビュー（ADR 0065）"
    },
    {
      "name": "websocket",
      "description": "WebSocket の接続（docs/events.md）"
    },
    {
      "name": "system",
      "description": "ヘルスチェックと公開鍵"
    }
  ],
  "paths": {
    "/api/v1/auth/register": {
      "post": {
        "operationId": "register",
        "tags": [
          "auth"
        ],
        "summary": "アカウントを登録する",
        "description": "登録と同時にログインする。X-Hibari-Client: web なら Refresh Token は httpOnly Cookie で渡し、本文には入れない（それ以外は本文の refresh_token）。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "いまの状態と競合する",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "回数の制限を超えた",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "operationId": "login",
        "tags": [
          "auth"
        ],
        "summary": "ログインする",
        "description": "email とパスワードのどちらが違うかは区別しない。X-Hibari-Client: web なら Refresh Token は httpOnly Cookie で渡し、本文には入れない（それ以外は本文の refresh_token）。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "回数の制限を超えた",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "operationId": "refresh",
        "tags": [
          "auth"
        ],
        "summary": "トークンを更新する（Refresh Token のローテーション）",
        "description": "user は返さない。X-Hibari-Client: web なら Refresh Token を Cookie から読んで新しい Cookie に差し替え（本文は送らない）、それ以外は本文で受け渡す。使えないトークンなら Cookie を消させる。",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "operationId": "logout",
        "tags": [
          "auth"
        ],
        "summary": "ログアウトする（そのセッションだけを失効させる）",
        "description": "トークンが見つからない・失効済みでも 204。X-Hibari-Client: web なら Refresh Token を Cookie から読んで Cookie を消させ（本文は送らない）、それ以外は本文で受け取る。",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify-email/request": {
      "post": {
        "operationId": "requestEmailVerification",
        "tags": [
          "auth"
        ],
        "summary": "確認メールを送り直す",
        "description": "本文は省略できる。確認済みでも同じ 202 を返す（状態は GET /users/me で見る）。",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "受け付けた（本文なし）"
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "回数の制限を超えた",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/verify-email/confirm": {
      "post": {
        "operationId": "verifyEmail",
        "tags": [
          "auth"
        ],
        "summary": "email を確認する（ワンタイムトークンを使う）",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneTimeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password-reset/request": {
      "post": {
        "operationId": "requestPasswordReset",
        "tags": [
          "auth"
        ],
        "summary": "パスワードの再設定メールを送る",
        "description": "アカウントの有無に関係なく 202 を返す。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "受け付けた（本文なし）"
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "回数の制限を超えた",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password-reset/confirm": {
      "post": {
        "operationId": "resetPassword",
        "tags": [
          "auth"
        ],
        "summary": "パスワードを再設定する",
        "description": "そのユーザーの全セッションが失効するので、クライアントはログインし直す。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "operationId": "me",
        "tags": [
          "users"
        ],
        "summary": "自分のアカウント",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateProfile",
        "tags": [
          "users"
        ],
        "summary": "表示名とハンドルを変える",
        "description": "省略した項目（と null）は変えない。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "いまの状態と競合する",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/me/avatar": {
      "post": {
        "operationId": "createAvatarUpload",
        "tags": [
          "users"
        ],
        "summary": "アバター画像のアップロード先（署名付き URL）を発行する",
        "description": "画像はストレージに直接 PUT する。申告した content_type と size_bytes は署名に含まれる。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvatarUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvatarUpload"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteAvatar",
        "tags": [
          "users"
        ],
        "summary": "アバター画像を外す",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/me/avatar/complete": {
      "post": {
        "operationId": "completeAvatarUpload",
        "tags": [
          "users"
        ],
        "summary": "アップロードしたアバター画像を確かめて設定する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteAvatarUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "いまの状態と競合する",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/avatars": {
      "post": {
        "operationId": "avatarURLs",
        "tags": [
          "users"
        ],
        "summary": "ユーザーのアバターの URL をまとめて取る",
        "description": "画像を持たないユーザーと、ID として読めない値は結果に入らない。user_ids は 200 件まで。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvatarURLsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvatarURLs"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/sessions": {
      "get": {
        "operationId": "listSessions",
        "tags": [
          "sessions"
        ],
        "summary": "ログイン中のデバイスの一覧",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionList"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "revokeOtherSessions",
        "tags": [
          "sessions"
        ],
        "summary": "いま使っているセッション以外をすべて失効させる",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeSessionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/sessions/{sessionID}": {
      "delete": {
        "operationId": "revokeSession",
        "tags": [
          "sessions"
        ],
        "summary": "セッションを 1 つ失効させる",
        "description": "他人のセッションの ID は、存在しないものと区別せず 404 にする。",
        "parameters": [
          {
            "name": "sessionID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces": {
      "post": {
        "operationId": "createWorkspace",
        "tags": [
          "workspaces"
        ],
        "summary": "ワークスペースを作る",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "operationId": "listWorkspaces",
        "tags": [
          "workspaces"
        ],
        "summary": "参加しているワークスペースの一覧",
        "description": "member_count は入らない。",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceList"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}": {
      "get": {
        "operationId": "getWorkspace",
        "tags": [
          "workspaces"
        ],
        "summary": "ワークスペースを 1 件取る",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateWorkspace",
        "tags": [
          "workspaces"
        ],
        "summary": "ワークスペースの名前と招待の方針を変える",
        "description": "省略した項目（と null）は変えない。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/members": {
      "get": {
        "operationId": "listMembers",
        "tags": [
          "members"
        ],
        "summary": "ワークスペースのメンバーの一覧",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "前のページの next_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "件数（最大 200、既定 100）",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberList"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/members/{userID}": {
      "get": {
        "operationId": "getMemberProfile",
        "tags": [
          "members"
        ],
        "summary": "メンバーのプロフィール",
        "description": "email を返すのはこの API だけで、検証済みのときだけ入る（ADR 0050）。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberProfile"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "changeMemberRole",
        "tags": [
          "members"
        ],
        "summary": "メンバーのロールを変える",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeMemberRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "removeMember",
        "tags": [
          "members"
        ],
        "summary": "メンバーをキックする（自分なら退出）",
        "description": "owner は退出できない（先に譲渡する。409）。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "いまの状態と競合する",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/ownership-transfer": {
      "post": {
        "operationId": "transferOwnership",
        "tags": [
          "members"
        ],
        "summary": "owner を譲渡する",
        "description": "owner は常に 1 人で、昇格ではなく譲渡で移す。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOwnershipRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/me/presence": {
      "put": {
        "operationId": "setManualAway",
        "tags": [
          "presence"
        ],
        "summary": "手動の離席を固定する / 解除する",
        "description": "ユーザーごと（ワークスペースをまたぐ）。冪等。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualAwayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManualAwayResponse"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/me/status": {
      "put": {
        "operationId": "setStatus",
        "tags": [
          "presence"
        ],
        "summary": "カスタムステータスを設定する",
        "description": "expires_at が null なら消えない。相対の期限を絶対の時刻にするのはクライアント。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserStatus"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "clearStatus",
        "tags": [
          "presence"
        ],
        "summary": "カスタムステータスを消す",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/me/notifications": {
      "get": {
        "operationId": "getNotificationLevel",
        "tags": [
          "notifications"
        ],
        "summary": "ワークスペース全体の通知の設定",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationLevel"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "setNotificationLevel",
        "tags": [
          "notifications"
        ],
        "summary": "ワークスペース全体の通知の設定を変える",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationLevel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationLevel"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/rooms/{roomID}/me/notifications": {
      "put": {
        "operationId": "setRoomNotifications",
        "tags": [
          "notifications"
        ],
        "summary": "ルームごとの通知の上書きとミュートを設定する",
        "description": "全部の値の置き換えで、省いた値は既定（上書きなし・ミュートなし）になる。",
        "parameters": [
          {
            "name": "roomID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomNotifications"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomNotifications"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/rooms/{roomID}/threads/{rootID}/me/notifications": {
      "put": {
        "operationId": "setThreadNotifications",
        "tags": [
          "notifications"
        ],
        "summary": "スレッドの返信の通知を設定する",
        "description": "true は明示的なフォローを兼ねる（ADR 0056）。",
        "parameters": [
          {
            "name": "roomID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rootID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThreadNotificationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadNotifications"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/invites": {
      "post": {
        "operationId": "createInvite",
        "tags": [
          "invites"
        ],
        "summary": "招待リンクを作る",
        "description": "code が入るのはこの応答だけ（サーバーはハッシュしか持たない）。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInviteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "operationId": "listInvites",
        "tags": [
          "invites"
        ],
        "summary": "招待リンクの一覧",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "前のページの next_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "件数（最大 200、既定 100）",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteList"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/invites/{inviteID}": {
      "delete": {
        "operationId": "revokeInvite",
        "tags": [
          "invites"
        ],
        "summary": "招待リンクを無効にする",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inviteID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/invites/{code}": {
      "get": {
        "operationId": "previewInvite",
        "tags": [
          "invites"
        ],
        "summary": "招待リンクの中身を見る（受け入れる前の確認）",
        "description": "使えないリンクは 404、期限切れと使用回数の上限は 410。",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "招待コード（22 文字）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitePreview"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "もう使えない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/invites/{code}/accept": {
      "post": {
        "operationId": "acceptInvite",
        "tags": [
          "invites"
        ],
        "summary": "招待を受け入れる",
        "description": "ワークスペースと is_default のルームに参加する。すでにメンバーでも 200（already_member で分かる）。",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "招待コード（22 文字）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteAcceptance"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "もう使えない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{workspaceID}/rooms": {
      "post": {
        "operationId": "createRoom",
        "tags": [
          "rooms"
        ],
        "summary": "ルームを作る（public / private / dm）",
        "description": "新しく作ったら 201、同じ 2 人の既存の DM を返したら 200。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoomRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "いまの状態と競合する",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "operationId": "listRooms",
        "tags": [
          "rooms"
        ],
        "summary": "ワークスペースのルームの一覧（サイドバー）",
        "description": "参加していない public ルームも入る。member_count は入らない。",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomList"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/rooms/{roomID}": {
      "get": {
        "operationId": "getRoom",
        "tags": [
          "rooms"
        ],
        "summary": "ルームを 1 件取る",
        "parameters": [
          {
            "name": "roomID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateRoom",
        "tags": [
          "rooms"
        ],
        "summary": "ルームの名前と is_default を変える",
        "description": "省略した項目（と null）は変えない。",
        "parameters": [
          {
            "name": "roomID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoomRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "400": {
            "description": "リクエストが不正（本文やパラメータの形・値の検証に失敗した）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "いまの状態と競合する",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "本文が大きすぎる",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type が application/json ではない",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteRoom",
        "tags": [
          "rooms"
        ],
        "summary": "ルームを削除する（元に戻せない）",
        "description": "DM と既定のルームは削除できない（422）。",
        "parameters": [
          {
            "name": "roomID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "成功（本文なし）"
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/rooms/{roomID}/archive": {
      "post": {
        "operationId": "archiveRoom",
        "tags": [
          "rooms"
        ],
        "summary": "ルームをアーカイブする",
        "description": "すでにアーカイブ中なら 409。DM と既定のルームはアーカイブできない（422）。",
        "parameters": [
          {
            "name": "roomID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "見つからない（存在しないことと、読めないことを区別しない）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "いまの状態と競合する",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "値が不正（errors に項目ごとの理由が入る）",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/rooms/{roomID}/unarchive": {
      "post": {
        "operationId": "unarchiveRoom",
        "tags": [
          "rooms"
        ],
        "summary": "アーカイブしたルームを戻す",
        "description": "アーカイブされていなければ 409。",
        "parameters": [
          {
            "name": "roomID",
            "in": "path",
            "required": true,
            "description": "ID（ULID）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "401": {
            "description": "認証されていない、または認証に失敗した",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "権限がない。email を確認していない利用者もここで止める（email-unverified。ADR 0053）",
[...]
